<h3>Editar Postagem: </h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/Posts/edit" method="POST">
            <input type="hidden" name="id" value="{{Post._id}}">
            <label for="titulo">Titulo: </label>
            
            <input type="text" name="titulo" class="form-control" value="{{Post.title}}">
            <label for="descricao">Descrição: </label>
            
            <input type="text" name="descricao" class="form-control" value="{{Post.description}}">
            <label for="url">Url personalizada para o Post:</label>
            
            <input type="text" name="url" class="form-control" value="{{Post.url}}">
            <label for="conteudo"></label>
            
            <textarea name="conteudo">{{Post.content}}</textarea>
            <label for="categoria">Categoria: </label>
            <select name="categoria">
                {{#each Category}}
                <option value="{{_id}}">{{name}}</option>
                {{else}}
                <option value="0">Nenhuma categoria foi adicionada</option>
                {{/each}}
            </select><br>
            <button type="submit" class="btn btn-success">Confirmar</button>
        </form>
    </div>
</div>