<h1>Postagens da categoria "{{Category.name}}"</h1>

{{#each post}}
<div class="card mt-2">
    <div class="card-body">
   <a href="/posts/{{url}}"><h3>{{title}}</h3>
   <h5>{{description}}</h5>
   </a>
   </div>
</div>   
{{else}}
    <h4>Nenhum post registrado</h4>
{{/each}}